<form action="/" method="post">
    <div class="form-group">
        <label for="inputUsername1">Username</label>
        <input type="text" class="form-control" id="inputUsername1" aria-describedby="usernameHelp" placeholder="Enter Username">
        <small id="usernameHelp" class="form-text text-muted">Type in your username to be displayed as.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>